DJANGO_SECRET_KEY=django-insecure-change-this-to-a-long-random-secret-key-1234567890
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*

DB_HOST=localhost
DB_PORT=5432
DB_NAME=turismo_db
DB_USER=turismo_user
DB_PASS=securepass123

CORS_ALLOW_ALL_ORIGINS=true
